<!doctype html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>News</title>
	</head>

	<body>

		<h1> TP1 JS </h1>

		<section id="news">
			<h2 id="titleNews"></h2>
			<article>
				<h3 class="title">News 1</h3>
			</article>

			<article>
				<h3 class="title">News 2</h3>
			</article>

			<article>
				<h3 class="title">News 3</h3>
			</article>
		</section>

		<form id="addNewsForm">
			Nom de la news : <input name="titleToAdd" type="text" />

			<input type="submit" name="addNewsBtn" />
		</form>
	</body>

	<script src="../dist/js/const.js"></script>
	<script src="../dist/js/log.js"></script>
	<script src="../dist/js/math.js"></script>
	<script src="../dist/js/html.js"></script>
	<script src="../dist/js/article.js"></script>
	<script src="../dist/js/get.js"></script>
	<script src="../dist/js/articleClass.js"></script>
	<script src="../dist/js/news.js"></script>
	<script src="../dist/js/main.js"></script>
</html>